 body{
    background-color:   #FAF3E0 ;
 }
header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #C0392B ;
}
nav{
    align-items: center;
    justify-content: space-around;  
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}